body,
html {
  height: 100%;
  overflow: hidden;
}

#editor {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
}

.buttons-container {
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-field input[type='number']:focus + label {
  color: #607d8b !important;
}

.input-field input[type='number']:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}

ul.dropdown-content.select-dropdown li span {
  color: #607d8b;
}
